.git

.env
.env.*
!.env.example

.idea
.vscode
.DS_Store

node_modules
vendor
public/build

storage/logs/*
bootstrap/cache/*

!storage/logs/.gitignore
!bootstrap/cache/.gitignore

phpunit.xml
tests
README.md

